/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/* begin CSS for 37Signals Project */

nav a {
        text-decoration: none;
        font-size: 12px;
        color: #999;
        font-family: 'Lucida Grande';
}

nav.header_left {
<<<<<<< HEAD
        float:left;
        margin: 28px 0px 0px 60px;
        
}

.clear{
        clear:both;
}

.header_right{
        margin: 20px 60px 0px 0px;
        border:1px solid red;
}
.header_right ul {
        float:right;
}
.header_right li {
        float:left;
        padding: 5px;
}

nav ul li {
        display: inline-block;
        font-family: 'Lucida Grande';
        font-size: 12px;
        
=======
	float:left;
	margin: 28px 0px 0px 60px;
	
}

.clear{
	clear:both;
}

.header_right{
	margin: 20px 60px 0px 0px;
	border:1px solid red;
}
.header_right ul {
	float:right;
}
.header_right li {
	float:left;
	padding: 5px;
}

nav ul li {
	display: inline-block;
	font-family: 'Lucida Grande';
	font-size: 12px;
	
>>>>>>> e508cf116943959e38b0e515c538c6fe7197e107
}

nav ul li a {
color: #336699;

}

div.logo {
<<<<<<< HEAD
        display: block;
        margin: auto;
        text-align:center;
}

.headline {
        width:500;
}

.content {

	width:750px;
	margin:auto;

}
h1 {
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        font-family: Times;
}

h3 {

        font-family: Times;
        font-size: 18px;
        font-weight:bold;
        text-align: center;
        margin-top:30px;
}

.container {

		width:636px;
		margin:auto;
}
.container a {
		display:block;
		width: 160px;
		height: 240px;
		border: 1px solid #e8e8e8;
		float:left;
		margin: 15px 25px;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
background: -moz-linear-gradient(top, #fff, #efefef);
text-align:center;
text-decoration: none;

}

h2 {
    color:#369;
    font-style: 'Lucida Grande';
    font-size: 21px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px
}

h2 span {
    text-decoration: none;
    vertical-align: super;
    color:#999;
}

h4{
    color: #cc0000;
    font-size: 14px;
    font-family:'lucida grande';
    margin: 5px 10px;
    font-weight: bold;

}

div {

    font-family:'lucida grande';
    font-size: 14px;
    color:#222;
    margin-top: 15px;
    line-height: 1.4em;
=======
	display: block;
	margin: auto;
	text-align:center;
}

.headline {
	width:500;
}
h1 {
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	font-family: Times;
>>>>>>> e508cf116943959e38b0e515c538c6fe7197e107
}

h3 {

	font-family: Times;
	font-size: 18px;
	font-weight:bold;
	text-align: center;
}


